@font-face {
    font-family: "Goudy Bookletter 1911";
    src: url("/assets/fonts/GoudyBookletter1911-Regular.ttf");
}

@font-face {
    font-family: "Zen Kaku Gothic";
    src: url("/assets/fonts/ZenKakuGothicNew-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F8F5F2;
    color: #262626;
    font-family: "Zen Kaku Gothic", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Text */

h1,
h2,
h3,
h4,
h5 {
    font-family: "Goudy Bookletter 1911", serif;
    color: #262626;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 3rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h3+p {
    font-size: 1.5rem;
}

p,
li,
label {
    color: #262626;
    font-family: "Zen Kaku Gothic", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 900;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.2s ease;
}

/* Navigation */

nav {
    background-color: #FFB85C;
    max-width: 80rem;
    margin: 2rem auto 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0;
    padding: 0;
}

.nav-list a {
    display: block;
    padding: 1rem 2rem;
    color: #262626;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav-list a:visited {
    color: inherit;
}

.nav-list a:hover,
.nav-list a:focus {
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.nav-list a.active {
    background-color: #fff;
}

/* Header */

header {
    max-width: 80rem;
    margin: 0 auto;
}

.header-link {
    text-decoration: none;
}

/* Main */

main {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem 8rem 2rem 8rem;
    text-align: center;
}

section {
    padding: 1rem 0;
}

article ul {
    list-style: circle inside;
    line-height: 2;
    margin: 0;
    padding: 0;
}

/* Images on Index Page */

.image-row {
    display: flex;
    gap: 1rem;
    max-width: 70rem;
    margin: 0rem auto;
    justify-content: center;
}

.decor-image {
    flex: 1;
    height: 12rem;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.image1 {
    background-image: url("/assets/images/decor1.jpg");
}

.image2 {
    background-image: url("/assets/images/decor3.jpg");
}

.image3 {
    background-image: url("/assets/images/decor2.jpg");
}

/* Forms */

form {
    background-color: #fff;
    max-width: 32rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

form p label {
    width: 8rem;
    font-weight: bold;
    text-align: left;
}

input,
select,
textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Zen Kaku Gothic", sans-serif;
}

form p input,
form p select {
    flex: 1;
    margin-left: 1rem;
    min-width: 12rem;
}

textarea {
    width: 100%;
}

input,
select {
    margin: 0 1rem 0 0.2rem;
    width: max-content;
}

/* Buttons */

button,
.button-link {
    display: inline-block;
    padding: 0.75rem 1rem;
    margin: 0.2rem auto 1rem;
    background-color: #FFB85C;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover,
.button-link:hover {
    background-color: #db9232;
}

/* Recpie Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover,
.card:focus-within {
    border-color: #FFB85C;
    box-shadow: 0 0 0 3px rgba(255, 184, 92, 0.4);
}

.card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.card h4 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

.card p {
    font-size: 0.9rem;
    color: #404040;
}

/* Recipe Page */

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 1rem;
    text-align: left;
}

.recipe-text {
    flex: 1;
}

.recipe-container img {
    width: 30rem;
    max-height: 30rem;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.recipe-text h3,
.recipe-text h4 {
    font-weight: 800;
    margin: 1rem 0 0.8rem;
}

.recipe-text h3 {
    font-size: 2.5rem;
    margin-top: 0;
}

.recipe-text li {
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

#instructions {
    list-style: decimal;
    list-style-position: inside;
}

/* Cooking Classes */

.course-list {
    display: flex;
    gap: 2rem;
    max-width: 70rem;
    margin: 2rem auto 1rem;
    text-align: center;
}

.course-list article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.course-list article img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
}

table * {
    font-family: "Zen Kaku Gothic", sans-serif;
}

th,
td {
    padding: 0.75em 1em;
    border: 1px solid #E0DED8;
    vertical-align: top;
}

th {
    background-color: #FFB85C;
    color: #262626;
    font-family: "Goudy Bookletter 1911", serif;
    font-size: 1.2rem;
    font-weight: 900;
}

tr:nth-of-type(even) {
    background-color: #eaeaea;
}

/* Fruits */

.fruit-tips table {
    width: 90%;
    margin: 2rem auto;
}

.fruit-image {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
    border-radius: 8px;
}

/* Seasons */

.seasons-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 1rem;
}

.season-block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.season-block article {
    flex: 1;
    text-align: left;
}

.season-block img {
    flex: 1;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.season-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

.season-block h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: left;
}

.season-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.season-content article {
    flex: 1;
    text-align: left;
}

.season-content img {
    flex: 1;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

/* Footer */

footer {
    margin: 0 auto;
    background-color: #FFB85C;
    max-width: 80rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

footer p {
    text-align: center;
}




/* Pictures for medium large screens */

@media (max-width: 1000px) {
    .season-content {
        flex-direction: column;
        align-items: center;
    }

    .season-content article {
        text-align: left;
    }

    .season-content img {
        max-width: 100%;
    }

}


/* Small screens */

@media (max-width: 768px) {

    /* Text */
    h1 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    h2,
    h3 {
        font-size: 2rem;
    }

    p,
    li,
    label,
    h3+p {
        font-size: 1rem;
    }

    /* Layout */

    header {
        margin: 1rem;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .nav-list li {
        width: 100%;
        text-align: center;
    }

    .nav-list a {
        display: block;
        width: 100%;
        padding: 1rem;
    }

    main {
        padding: 1rem;
    }

    .course-list,
    .recipe-container {
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    /* Images */

    .recipe-container img,
    .season-block img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .decor-image {
        min-height: 8rem;
        width: 40%;
    }

    .course-list article picture {
        display: flex;
        justify-content: center;
    }

    .course-list article picture img {
        width: auto;
        max-width: 90%;
        max-height: 300px;
    }

    /* Seasons */

    .season-content {
        flex-direction: column;
        align-items: center;
    }

    .season-content article {
        text-align: left;
    }

    /* Forms */

    form p {
        flex-direction: column;
        align-items: flex-start;
    }

    form p label {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    form p input,
    form p select {
        margin-left: 0;
        width: 100%;
    }

    /* Filter form */

    #filter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #filter-form label,
    #filter-form input,
    #filter-form select,
    #filter-form button {
        width: 80%;
        max-width: 10rem;
    }

    /* Tables */

    .fruit-tips table {
        width: 100%;
    }

    .fruit-tips table,
    .fruit-tips thead,
    .fruit-tips tbody,
    .fruit-tips th,
    .fruit-tips td,
    .fruit-tips tr {
        display: block;
        width: 100%;
    }

    .fruit-tips thead tr {
        display: none;
    }

    .fruit-tips tr {
        border: 1px solid #ccc;
        padding: 1rem;
        background: #fff;
    }

    .fruit-tips td {
        position: relative;
        padding-left: 50%;
        padding-bottom: 1rem;
        font-size: 0.8rem;
        border: none;
        text-align: right;
    }

    .fruit-tips td::before {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        width: 45%;
        font-weight: 800;
        font-family: "Goudy Bookletter 1911", serif;
        font-size: 1rem;
        text-align: left;
        white-space: nowrap;
    }

    .fruit-tips td:nth-of-type(1)::before {
        content: "Frukt/grönsak";
    }

    .fruit-tips td:nth-of-type(2)::before {
        content: "Kolla efter";
    }

    .fruit-tips td:nth-of-type(3)::before {
        content: "Undvik";
    }
}

/* Large screens */

@media (min-width: 1920px) {

    nav,
    main,
    header,
    footer {
        max-width: 100rem;
    }

    /* Text */

    h1 {
        font-size: 8rem;
    }

    h2,
    h3 {
        font-size: 4rem;
    }

    h4,
    h5 {
        font-size: 3rem;
    }

    .season-block h5 {
        font-size: 3rem;
    }

    p,
    li,
    a,
    h3+p {
        font-size: 2rem;
    }

    /* Navigation */

    .nav-list a {
        font-size: 2.5rem;
    }

    /* Tables */

    table,
    th {
        font-size: 2rem;
    }

    /* Forms */

    input,
    select {
        font-size: 2rem;
    }

    button {
        font-size: 2rem;
    }

    form {
        max-width: 70rem;
        padding: 3rem;
    }

    form p input,
    form p select,
    textarea {
        font-size: 2rem;
        padding: 1rem;
        min-width: 30rem;
    }

    form p label,
    label {
        font-size: 2rem;
    }


    /* Button */

    .button,
    .button-link {
        font-size: 2rem;
        padding: 1rem 2rem;
    }


    /* Recipe gallery */
    .gallery {
        gap: 2rem;
        padding: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .card h4,
    .card p {
        font-size: 2rem;
    }

    /* Recipe page */
    .recipe-text h3 {
        font-size: 3rem;
    }

    .recipe-text li {
        font-size: 2rem;
    }
}